<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mo.com.sleeplessmind.airplay</string>
	<key>connections</key>
	<dict>
		<key>2890F6D5-FFE2-4949-9471-A0C410FEC480</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9C1330F-AEF6-4384-95DB-BDEE3FAA150F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>643291A3-8671-4ED2-A925-8A39AAA94476</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2890F6D5-FFE2-4949-9471-A0C410FEC480</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D862CBBD-7315-4C59-B915-C3BA969F7290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>643291A3-8671-4ED2-A925-8A39AAA94476</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guill Lo</string>
	<key>description</key>
	<string>Spread your display to an AirPlay device</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AirPlay Spreader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>aps-launch.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>643291A3-8671-4ED2-A925-8A39AAA94476</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>aps</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/bin/bash

apDevices=()

i=0
while read -r line; do
    i=`expr $i + 1`
    if [ $i -lt 5 ]; then continue; fi # skip the header lines
        room=$( echo $line | cut -d ' ' -f 7-100 )
				apDevices+=("$room")

    # break if no more items will follow (e.g. Flags != 3)
    if [ $(echo $line | cut -d ' ' -f 3) -ne '3' ]; then
        break
    fi
done &lt; &lt;(dns-sd -B _airplay._tcp)

cat &lt;&lt; EOB

{"items": [

EOB

IFS=","

for f in ${apDevices[@]}; do

	item=${f#"${f%%[![:space:]]*}"}

cat &lt;&lt; EOB


    {
		"uid": "${item}",
        "type": "file",
        "title": "${item}",
        "subtitle": "Extend display to ${item}",
        "arg": "${item}",
        "autocomplete": "${item}",
    },


EOB

done

cat &lt;&lt; EOB

	{
        "type": "file",
        "title": "Turn AirPlay Off",
        "subtitle": "Turn AirPlay Off",
        "arg": "Turn AirPlay Off",
        "autocomplete": "Turn AirPlay Off",
    }
]}
EOB
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>aps-list.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D862CBBD-7315-4C59-B915-C3BA969F7290</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>AirPlay Selector</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2890F6D5-FFE2-4949-9471-A0C410FEC480</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Morse</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>E9C1330F-AEF6-4384-95DB-BDEE3FAA150F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Extend your display to an AirPlay device directly from Alfred. See more at the official README: 

https://github.com/godbout/alfred-airplay/blob/master/README.md</string>
	<key>uidata</key>
	<dict>
		<key>2890F6D5-FFE2-4949-9471-A0C410FEC480</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>643291A3-8671-4ED2-A925-8A39AAA94476</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D862CBBD-7315-4C59-B915-C3BA969F7290</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E9C1330F-AEF6-4384-95DB-BDEE3FAA150F</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.0</string>
	<key>webaddress</key>
	<string>https://sleeplessmind.com.mo</string>
</dict>
</plist>
